<footer class="kot-footer">
  <div class="container">

    <div class="row gy-5">

      <!-- Left Column -->
      <div class="col-lg-6 col-md-12">
      <div class="kot-footer-brand">
  <img alt="KOT Enterprises Logo">
</div>


        <h5 class="kot-footer-title">SIGN UP FOR OUR NEWSLETTER</h5>

        <form class="kot-footer-form" id="subscribeForm" novalidate>
  <input
    type="email"
    name="email"
    id="subscribeEmail"
    placeholder="Email"
    required
    maxlength="60"
  >
  <button type="submit" id="subscribeBtn">Subscribe</button>
</form>
      </div>

      <!-- Services -->
      <div class="col-lg-2 col-md-4 kot-footer-link">
        <h5 class="kot-footer-title">OUR SERVICES</h5>
        <ul class="kot-footer-links">
          <li><a href="/graphoria/">Graphiora</a></li>
          <li><a href="/digittrail/">Digittrail</a></li>
          <li><a href="/WebSculpture/">Web Sculptures</a></li>
        </ul>
      </div>

      <!-- Useful Links -->
      <div class="col-lg-2 col-md-4 kot-footer-link">
        <h5 class="kot-footer-title">USEFUL LINKS</h5>
        <ul class="kot-footer-links">
          <li><a href="/news/">News & Media</a></li>
          <!-- <li><a href="#">Sustainability</a></li>
          <li><a href="#">About Expertise</a></li> -->
          <li><a href="/appreciation/">Our Team</a></li>
          <li><a href="/contact/">Contacts</a></li>
        </ul>
      </div>

      <!-- Social -->
      <div class="col-lg-2 col-md-4 kot-footer-link">
        <h5 class="kot-footer-title">CONNECT</h5>
        <ul class="kot-footer-links">
          <li><a href=" https://www.facebook.com/share/14TR2CX7sC8/"  target="_blank" >Facebook</a></li>
          <li><a href=" https://www.instagram.com/kotglobal?igsh=YWhrbnQ5OThyOXNy"  target="_blank" >Instagram</a></li>
          <li><a href="https://www.linkedin.com/company/kotenterprises/"  target="_blank" >LinkedIn</a></li>
          <!-- <li><a href="#">Twitter</a></li> -->
        </ul>
      </div>

    </div>

    <!-- Divider -->
    <hr class="kot-footer-divider">

    <!-- Bottom -->
    <div class="kot-footer-bottom">
      © 2026 KOT Enterprises, All rights reserved
    </div>

  </div>
</footer>
