<footer class="kot-footer">
     <div class="kot-footer-scale">
  <div class="kot-footer-inner">

    <!-- Column 1 -->
    <div class="kot-footer-brand">
      <img src="/assets/images/kotlogo.png" alt="KOT Enterprises" />
      <h5>SIGN UP FOR OUR NEWSLETTER</h5>

      <form class="kot-footer-form">
        <input type="email" placeholder="Email" />
        <button type="submit">Subscribe</button>
      </form>
    </div>

    <!-- Column 2 -->
    <div class="kot-footer-col">
      <h5>OUR SERVICES</h5>
      <ul>
        <li>Graphiora</li>
        <li>Digitrail</li>
        <li>Web Sculptures</li>
      </ul>
    </div>

    <!-- Column 3 -->
    <div class="kot-footer-col">
      <h5>USEFUL LINKS</h5>
      <ul>
        <li>News & Media</li>
        <li>Sustainability</li>
        <li>About Expertise</li>
        <li>Our Team</li>
        <li>Contacts</li>
      </ul>
    </div>

    <!-- Column 4 -->
    <div class="kot-footer-col">
      <h5>CONNECT</h5>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>LinkedIn</li>
        <li>Twitter</li>
      </ul>
    </div>
</div>
  </div>

  <div class="kot-footer-bottom">
    © 2025 KOT Enterprises, All rights reserved
  </div>
</footer>
