/* FOOTER */
.kot-footer {
  padding: clamp(3rem, 6vw, 5rem) 0 2rem;
  /* background: #ffffff; */
  font-size: 15px;
}

/* BRAND */
.kot-footer-brand img {
  max-width: 260px;
  margin-bottom: 30px;
}

.kot-footer-brand img {
  content: url("../images/kotlogo.png");
}

.kot-footer-tagline {
  font-size: 12px;
  letter-spacing: 1px;
  color: #666;
  margin-bottom: 2rem;
}

/* TITLES */
.kot-footer-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 1rem;
}

/* LINKS */
.kot-footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kot-footer-links li {
  margin-bottom: 10px;
}

.kot-footer-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.kot-footer-links a:hover {
  color: #007bff;
}

/* NEWSLETTER */
.kot-footer-form {
  display: flex;
  gap: 12px;
  border-bottom: 1px solid #000;
  max-width: 420px;
}

.kot-footer-form input {
  border: none;
  outline: none;
  flex: 1;
  padding: 6px 0;
}

.kot-footer-form button {
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.kot-footer-link {
  margin-top: 10% !important;
}
/* DIVIDER */
.kot-footer-divider {
  margin: 3rem 0 1.5rem;
}

/* BOTTOM */
.kot-footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #333;
}

/* MOBILE */
@media (max-width: 767px) {
  .kot-footer {
    text-align: center;
  }

  .kot-footer-form {
    margin: 0 auto;
    padding: 0 10%;
     border-bottom: none;
  }
}

   .footer-logo {
      height: 50px;
    }
    .footer-section {
      padding: 30px 0;
    }
    .footer-section h5 {
      font-weight: bold;
    }
    .footer-bottom {
      /* background-color: #f8f9fa; */
      padding: 10px 0;
      text-align: center;
    }




      body {
    font-family: 'Montserrat', sans-serif;
}

/* HERO */
.hero-bg {
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.hero-text {
    position: relative;
    z-index: 2;
    margin-bottom: 27%;
    margin-left: 30%;
    padding-top: 2%;
}

.hero-title {
    font-size: 3rem;
    font-weight: 800;
}

.hero-subtitle {
    font-size: 1.8rem;
    font-weight: 500;
}

/* CONTENT BOX */
.hero-content-box {
    margin-top: -100px;
    position: relative;
    z-index: 3;
}

.content-box {
   padding: 35px;
    margin-left: 29%;
    margin-top: -18%;
    border-radius: 12px;
     border: 1px solid rgb(0, 0, 0);
    background: #fff;
   
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
.content-box p {
  font-weight: 600;
  margin-bottom: 1%;
  
}

.content-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

    .hero-content-box {
        margin-top: -50px;
    }

    .content-box {
        padding: 25px;
        margin-left: 0%;
        margin-top: -10%;
    }
    .content-box p {
      font-size: 16px;
    }

    .content-title {
        font-size: 1.1rem;
    }
    .hero-text {
            margin-left: 0%;
            margin-bottom: 20%;
    }
}