/* FOOTER */
.kot-footer {
  padding: clamp(3rem, 6vw, 5rem) 0 1.8rem;
  /* background: #ffffff; */
  font-size: 15px;
}

/* BRAND */


.kot-footer-brand img {
  max-width: 260px;
  margin-bottom: 30px;
}
.kot-footer-brand img {
  content: url("../images/Kotlogo-dm.svg");
}

.kot-footer-tagline {
  font-size: 12px;
  letter-spacing: 1px;
  color: #666;
  margin-bottom: 2rem;
}

/* TITLES */
.kot-footer-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 1rem;
  padding: 0 1%;
  color: white;
}

/* LINKS */
.kot-footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kot-footer-links li {
  margin-bottom: 10px;
}

.kot-footer-links a {
  text-decoration: none;
  color: #d7d7d7;
  transition: color 0.3s ease;
}

.kot-footer-links a:hover {
  color: #007bff;
}

/* NEWSLETTER */
.kot-footer-form {
  display: flex;
  background-color: #000;
  gap: 12px;
  border-bottom: 1px solid #000;
  max-width: 420px;
}

.kot-footer-form input {
    border: 1px solid white;
    outline: none;
    border-radius: 17px;
    flex: 1;
    background-color: #1d1d1d;
    padding: 6px 18px;
    color: #FFFFFF;
}

.kot-footer-form button {
  background: none;
   background-color: #1d1d1d;
    padding: 6px 18px;
   border-radius: 17px;
  border: 1px solid white;
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-size: clamp(11px, 0.5rem, 15px);
}
.kot-footer-link {
  margin-top: 10% !important;
}
/* DIVIDER */
.kot-footer-divider {
  margin: 3rem 0 1.5rem;
  color: white;
}

/* BOTTOM */
.kot-footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

/* MOBILE */
@media (max-width: 767px) {
  .kot-footer {
    text-align: center;
    padding-bottom: 30% !important;
  }

  .kot-footer-form {
    margin: 0 auto;
    padding: 0 auto;
     border-bottom: none;
  }
}

   .footer-logo {
      height: 50px;
    }
    .footer-section {
      padding: 30px 0;
    }
    .footer-section h5 {
      font-weight: bold;
    }
    .footer-bottom {
      /* background-color: #f8f9fa; */
      padding: 10px 0;
      text-align: center;
    }

    
