@media screen and (max-width: 767px) {
    .meet-our-first-developer, .meet-our-second-developer, .meet-our-third-developer{
 max-width: 116px;
 width: 100%;
height: 207px;

border-radius: 10px;
background-color: #D9D9D9;
 /* margin: auto; */
}
.meet-our-f-developer{
  display: none;
}
.meet-our-developer-heading h2 {
  font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 15px;
leading-trim: NONE;
line-height: 112.00000000000001%;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
        margin-top: 10%;
}
.meet-our-developer-heading p{
  font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 11px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
}

.what-we-offer-card-wrapper{
    
    border-radius: 14px;
    max-width: 139px;
    width: 100%;
  /* height: 144px; */
    
    overflow: hidden;
    text-align: center;
}
.what-we-offer-text h2{
    font-family: Montserrat !important;
font-weight: 700 !important ;
font-style: Bold !important ;
font-size: 15px !important;
leading-trim: NONE !important ;
line-height: 112.00000000000001% !important;
letter-spacing: 0% !important;
text-align: center ;
color: #000000 !important; 

}

.what-we-offer-card-title {
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 10px;
leading-trim: NONE;
line-height: 112.00000000000001%;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
}
.mobile-cards{
    display: none;
}
.view-profile-link {
    padding: 7px 23px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 30px;
    font-family: Montserrat;
    font-size: 5px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.websculpture-subtitle-2{
    font-family: Montserrat !important; 
font-weight: 700 !important;
font-style: Bold !important;
font-size: 32px !important;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #0A71B9 !important;
}
.websculpture-title{
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 32px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
background: linear-gradient(90deg, #EAFF00 0%, #FF2B00 43.28%, #FF8500 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.websculpture-logo {
    width: 108px;
height: 108px;


}
.websculpture-description {
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 12px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
}
  .websculpture-hero-container {
    padding-bottom: 120px;
  }
  .websculpture-triangle {
    bottom: -18px;
    width: min(260px, 75vw);
  }
  .home-card-2, .home-card-3, .home-card-4, .home-card-1{
  background: linear-gradient(270deg, rgba(10, 113, 185, 0.5) 0%, rgba(68, 172, 245, 0.5) 100%)!important;

    width: 115px !important;
height: 43px !important;

    border-radius: 8px !important;
    border-width: 1px;
    border: 1px solid !important;

border-image-source: linear-gradient(75.68deg, #000000 1.67%, rgba(24, 24, 24, 0) 100%) !important;
backdrop-filter: blur(40px)  !important;
padding: 5% !important;

}
.home-card-paragraph{
  display: none;
}
.home-card-heading {
  font-family: Montserrat !important;
        font-weight: 700 !important;
        font-style: normal !important;
        font-size: clamp(8px, 2.5vw, 9px) !important;
        line-height: 112% !important;
        letter-spacing: 0% !important;
}
.home-card{
  width: 351px !important;
height: 176px !important;
border-radius: 10px !important;
border-width: 1px !important;

}
.home-search-input{
  width: 204px !important;
height: 30px !important;
border-radius: 10px !important;
border-width: 1px !important;

}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .meet-our-first-developer, .meet-our-second-developer, .meet-our-third-developer{
 width: 208px;
height: 370px;

border-radius: 10px;
background-color: #D9D9D9;
 margin: auto;
}
.meet-our-f-developer{
  display: none;
}
.what-we-offer-text-web h2 {
   font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 40px;
leading-trim: NONE;
line-height: 112.00000000000001%;
letter-spacing: 0%;
text-align: center;
color: #000000 !important;
max-width: 380px;
width: 100%;


}
.meet-our-developer-heading p{
    max-width: 601px;
    width: 100%;
font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 15px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;


}
.what-we-offer-description{
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #000000 !important;
max-width: 582px;
width: 100%;
}
.what-we-offer-title{
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 40px;
leading-trim: NONE;
line-height: 112.00000000000001%;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
}
.tablet-card {
    display: none;
}
}
